.uploadProductForm .btn-primary {
    margin-left: 5px;
}

.uploadCategoryForm .category-description {
    width: 100%;
    height: 50px;
}

.uploadCategoryForm .btn-primary {
    margin-top: 15px;
}
